.all-carts-page__container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 100px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 3rem;

  .page__title {
    margin: 1rem 0;

    @media screen and (max-width: 1439px) {
      font-size: 1.4rem;
    }
  }

  .table__container {
    width: 50%;
    max-height: 520px;
    margin-top: 2rem;
    overflow-y: scroll;
    box-shadow: 2px 2px 20px -2px var(--shadow-color);
    border-radius: 5px;

    a {
      color: inherit;
      text-decoration: none;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      empty-cells: hide;

      thead {
        font-size: 2rem;

        @media screen and (max-width: 1439px) {
          font-size: 1.5rem;
        }

        th {
          padding: 1rem 0;
        }
      }

      tbody {
        font-size: 1.3rem;

        @media screen and (max-width: 1439px) {
          font-size: 1.1rem;
        }

        tr {
          &:nth-child(odd) {
            background-color: var(--shadow-color);
          }

          &:hover {
            background-color: var(--dark-shadow-color);
            cursor: pointer;
          }

          th {
            padding: 1rem;
          }
        }
      }
    }

    @media screen and (max-width: 1439px) {
      width: 80%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}
