.nav__container {
  .nav__links {
    display: flex;

    a {
      text-decoration: none;
      color: var(--text-color);
    }

    .nav__link {
      margin: 0 1rem;
      list-style-type: none;

      &:hover {
        color: var(--blue)
      }
    }
  }
}
